* {
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.pic-header {
  width: 50%;
}
.navbar {
  margin-top: 1rem;
  position: absolute;
  z-index: 999;
}
.bt-header {
  padding: 1.1rem 2.5rem;
  border-radius: 30px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid rgba(254, 254, 255, 0.295);
  transition: all 0.5s;
}
.bt-header:hover {
  background: #fd4766;
  color: white;
  border: 2px solid transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.carousel-item {
  height: 700px;
  background-position: center;
}
.carousel-item:nth-child(1) {
  background-image: url(../image/imroz/bg-image-22.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(../image/imroz/bg-image-23.jpg);
}
.carousel-item:nth-child(3) {
  background-image: url(../image/imroz/bg-image-24.jpg);
}
.carousel-item:nth-child(4) {
  background-image: url(../image/imroz/bg-image-20.jpg);
}
.carousel-caption {
  bottom: 45%;
  transform: translateY(55%);
}
.title_header {
  display: inline;

  font-size: 6.7rem;
  font-weight: 900;
}
.description {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.btn_title {
  padding: 1.3rem 2.7rem;
  border-radius: 35px;
  text-transform: uppercase;
  background: #fd4766;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.5s;
}
.btn_title:hover {
  background: transparent;
  color: #fd4766;
  border: 2px solid #fd4766;
}
.carousel-indicators {
  align-items: center;
  padding: 2rem 0;
}
.carousel-indicators li {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.7s;
}
.carousel-indicators li.active {
  height: 9px;
  width: 9px;
  background-color: transparent;
  border: 2px solid #fd4766;
}
.prev-icon {
  display: flex;
  border: 2px solid #8e9092;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.7s;
}
.next-icon {
  display: flex;
  border: 2px solid #8e9092;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.7s;
}
.prev-icon:hover {
  border: 2px solid transparent;
  background-color: #fd4766;
  transform: translateX(-20px);
}
.next-icon:hover {
  border: 2px solid transparent;
  background-color: #fd4766;
  transform: translateX(20px);
}
.service_area {
  padding-bottom: 7rem;
}
.service_content {
  text-align: center;
  padding: 7rem 0 1rem;
}
.service_content p:first-of-type {
  background-image: linear-gradient(
    45deg,
    #1c99fe 20%,
    #7644ff 52%,
    #fd4766 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  font-weight: 600;
}
.service_content h1 {
  color: #212529;
  font-weight: 600;
  font-size: 3rem;
}
.service_content p:last-of-type {
  padding: 1rem 0;
  color: grey;
  font-size: 18px;
}
.row {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.5s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 50px 1px #f38eda57;
}
.card-body {
  padding: 1rem;
}
.icon_area {
  font-size: 40px;
  padding: 1rem 1.25rem 0;
}
.card-title {
  font-size: 1.22rem;
  font-weight: 600;
  padding-bottom: 0.7rem;
}
.card-text {
  font-size: 18px;
  color: #4d4f52;
}
.icon1 {
  color: #fd4766;
}
.icon2 {
  color: #1c99fe;
}
.icon3 {
  color: #15d8df;
}
.icon4 {
  color: #59c98d;
}
.icon5 {
  color: #673ab7;
}
.icon6 {
  color: #1c99fe;
}
.project_area {
  background-color: #f7f8fd;
  height: 1670px;
}
.project_content {
  text-align: center;
  padding: 7rem 0 1rem;
}
.project_content p:first-of-type {
  background-image: linear-gradient(
    45deg,
    #1c99fe 20%,
    #7644ff 52%,
    #fd4766 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  font-weight: 600;
}
.project_content h1 {
  color: #212529;
  font-weight: 600;
  font-size: 3rem;
}
.project_content p:last-of-type {
  padding: 1rem 0 1rem;
  color: grey;
  font-size: 18px;
  font-weight: 300;
}
.project_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 40px;
}
.job_card {
  padding: 0;
  height: 530px;
  position: relative;
  transition: all 0.5s;
  border-radius: 10px;
  transform: translateY(0px);
}
.img_card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 10px;
}
.img_card img {
  width: 100%;
  filter: brightness(70%);
  position: relative;
  transition: all 0.5s;
}
.title_card {
  position: absolute;
  text-align: center;
  bottom: 30px;
  color: white;
  transition: all 0.5s;
  z-index: 2;
  line-height: 1;
}
.title_card p {
  color: rgb(214, 202, 202);
  font-size: 1.125rem;
}
.title_card h2 {
  font-weight: 600;
}
.brg_card {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.623), #fd476544, #eb3a58c0);
  opacity: 0;
  border-radius: 10px;
  transition: all 0.5s;
}
.title_brgCard {
  color: rgb(214, 202, 202);
  text-align: center;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: all 0.5s;
  font-size: 1.2rem;
  font-weight: 500;
}

/* hover project-card */
.job_card:hover .brg_card {
  opacity: 1;
  /* border-radius: 10px; */
}
.job_card:hover .img_card img {
  transform: scale(1.1);
}
.job_card:hover {
  transform: translateY(-10px);
}
.job_card:hover .title_brgCard {
  bottom: 20px;
  opacity: 1;
}
.job_card:hover .title_card {
  bottom: 100px;
}
/* hover btn */
.btn_jobcard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.btn_viewpj {
  margin: 1rem 0 0;
  padding: 1.3rem 2.7rem;
  border-radius: 35px;
  text-transform: uppercase;
  background: #fd4766;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.5s;
}
.btn_viewpj:hover {
  background: transparent;
  color: #fd4766;
  border: 2px solid #fd4766;
}
/* about company */
.about_company {
  height: 500px;
}
.about_content {
  display: flex;
}
.pic_about {
  padding: 5rem 1rem 5rem 5rem;
}
.pic_about img {
  width: 480px;
  border-radius: 10px;
}
.description_company {
  margin-left: 2rem;
}
.description_company .title_company {
  padding-top: 5rem;
  background-image: linear-gradient(
    125deg,
    #1c99fe 20%,
    #7644ff 52%,
    #fd4766 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  font-weight: 600;
}
.description_company h2 {
  font-weight: 600;
  font-size: 3rem;
}
.script_about {
  padding: 2rem 0 1rem;
  font-size: 1.2rem;
  color: #626364;
  font-weight: 100;
}

.nav_descript .nav1 {
  border: 0.5px solid rgba(165, 163, 163, 0.671);
  border-radius: 25px;
  align-items: center;
  width: 90%;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.nav-item1 .nav-link {
  height: 100%;
  border-radius: 25px;
  padding: 0.7rem 2rem 0.7rem 2rem;
  font-weight:600;
  color: #212529;
}
.nav-item1 .nav-link.active {
  background-color: #fd4766;
}
.history_btn {
  margin-left: 0.7rem;
}
.history_btn li {
  list-style: none;
}
.history_btn li i {
  margin-right: 0.5rem;
}
.script_mission {
  margin-left: 0.7rem;
}
